/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-regular.woff")
      format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat Med";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-600.woff")
      format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-900.woff")
      format("woff");
}
@font-face {
  font-family: "Aileron";
  src: url("./fonts/Aileron-Heavy.woff2") format("woff2"),
    url("./fonts/Aileron-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilam Black DEMO";
  src: url("./fonts/Gilam-BlackDEMO.woff2") format("woff2"),
    url("./fonts/Gilam-BlackDEMO.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.body-mara {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-size: 1rem;
}
.bg-purple {
  background-color: #613bbb;
}

.navbar {
  min-height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.container-mara {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border-radius: 50px;
}

.btn-group-lg > .btn,
.btn-lg {
  border-radius: 50px;
}

.btn-purple {
  border-radius: 50px;
  background-color: #613bbb;
  border-color: #613bbb;
  color: #ffffffff;
  width: 150px;
  font-family: "Montserrat Med";
}

.btn-purple:hover,
.btn-purple:active {
  background-color: #471b90;
  border-color: #471b90;
}

.btn-blue {
  background-color: #77d1e2;
  border-color: #77d1e2;
  width: 150px;
  font-family: "Montserrat Med";
}

.btn-blue:hover,
.btn-blue:active {
  background-color: #429daa;
  border-color: #429daa;
}

.page-1 {
  text-align: center;
  align-content: center;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: -50px;
  min-height: 100vh;
}
.page-1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.thankyouText {
  vertical-align: middle;
}

.mt-20 {
  margin-top: 20px;
}

.footer-page1 {
  background-color: #77d1e2;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
@media (min-width: 1200px) .container-mara {
  max-width: 1140px;
}
