* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  color: black;
}
.header {
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 100%;
  margin: 0 auto;
}
nav {
  height: 10vh;
  background: black;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.weare {
  position: relative;
  height: 45vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.weare h1 {
  display: block;
  height: 50%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  font-size: 4.5em;
  color: black;
  text-align: center;
}
.amplab {
  height: 45vh;
  width: 100%;
  margin: 0 auto;
}
.amplab p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.5em;
  background-color: black;
  color: white;
  margin: 0 auto;
}

.content {
  height: 55vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  padding-left: 15px;
  padding-right: 15px;
}
.content p {
  color: black;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  .nav {
    position: relative;
  }

  .nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 25px;
    transform: translate(-5%, -50%);
    z-index: 3;
    color: white;
  }

  .nav-links {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -15%);
    -webkit-clip-path: circle(100px at 100% -15%);
    transition: all 0.6s ease-out;
    pointer-events: none;
    color: white;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1300px at 100% -15%);
    -webkit-clip-path: circle(1300px at 100% -15%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    color: white;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

h1,
p {
  text-align: center;
}

p {
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 5em;
  }
  p {
    font-size: 25px;
  }
}
