/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-regular.woff")
      format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat Med";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-600.woff")
      format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    /* IE6-IE8 */ url("./fonts/montserrat-v25-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/montserrat-v25-latin-900.woff")
      format("woff");
}
.body-proceed {
  margin: 0 auto;
  display: block;
  width: 100vw;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-size: 1rem;
  padding: 0;
}
.bg-purple {
  background-color: #613bbb;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.navbar {
  min-height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}
.navbar > .nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-brand > img {
  width: 17%;
}

.page-2 {
  padding-right: 0;
  padding-left: 0;
}

.page-2 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.page-2 .contents {
  min-height: 45vh;
  align-content: center;
}

.page-2 .banner {
  min-height: 340px;
  width: 100%;
  background-image: url("./assets/banner_page2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.page-2 .logo-2 {
  margin-top: 40px;
  width: 100%;
}

.page-2 .logo-2 > img {
  width: 25%;
}

.page-2 h3 {
  color: #613bbb;
  font-family: "Montserrat";
  margin-top: 10px;
  letter-spacing: 1px;
}

.page-2 h4 {
  color: #77d1e2;
  font-family: "Montserrat";
  margin-top: 20px;
  letter-spacing: 1px;
}

.page-2 .btn-lg {
  font-size: 2em;
  width: 200px;
  margin-top: 10px;
}
.page-2 .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.footer-page2 > .row {
  margin: 0;
}

.footer-page2 .col-md-12 {
  background-color: #77d1e2;
  height: 50px;
  width: 100%;
}
.footer-page2 h5 {
  color: #613bbb;
  font-family: "Montserrat";
  letter-spacing: 1px;
  margin-top: 20px;
}
.footer-doc {
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 280px) {
  .footer-page2 h5 {
    font-size: 16px;
  }

  .footer-page2 .badgedl {
    width: 100px;
  }
}
@media only screen and (max-width: 400px) {
  .page-2 h3,
  .page-2 h4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 576px) {
  .navbar > .nav-container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar > .nav-container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }

  .navbar-brand > img {
    width: 50%;
  }
  .page-2 .logo-2 > img {
    width: 70%;
  }
  .footer-page2 .download {
    width: 100%;
  }
  .footer-page2 h5,
  .footer-page2 .playstore {
    text-align: center;
  }
  .footer-doc {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .navbar > .nav-container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar > .nav-container {
    max-width: 1140px;
  }
}
