@font-face {
  font-family: "Aileron";
  src: url("../src/fonts/Aileron-Heavy.woff2") format("woff2"),
    url("../src/fonts/Aileron-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilam Black DEMO";
  src: url("../src/fonts/Gilam-BlackDEMO.woff2") format("woff2"),
    url("../src/fonts/Gilam-BlackDEMO.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.body-voucher {
  margin: 0 auto;
  display: block;
  width: 100vw;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-size: 1rem;
  padding: 0;
}
.bg-purple {
  background-color: #613bbb;
}

.navbar {
  min-height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}
.navbar > .nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-brand > img {
  width: 17%;
}
.page-3 .contents {
  align-content: center;
  min-height: 43vh;
}

.page-3 h2 {
  font-family: "Oregano", cursive;
  color: #613bbb;
  font-size: 4.5rem;
}

.page-3 h3 {
  font-family: "Gilam Black DEMO";
  color: #77d1e2;
  font-size: 2.5rem;
}

.page-3 .code {
  margin: 0 auto;
  width: 20%;
}

.page-3 h4 {
  font-family: "Aileron";
  color: white;
  background-color: #613bbb;
  padding: 10px 20px;
  border-radius: 30px;
}

.page-3 p {
  font-family: "Roboto";
  color: #613bbb;
  font-size: 1.2rem;
}
.mobile-show h5 {
  color: #613bbb;
  font-family: "Aileron";
  letter-spacing: 1px;
  margin-top: 20px;
}
.mobile-show {
  display: none;
}
.footer-page2 > .row {
  margin: 0;
}

.footer-page2 .col-md-12 {
  background-color: #77d1e2;
  height: 50px;
  width: 100%;
}
.footer-page2 h5 {
  color: #613bbb;
  font-family: "Aileron";
  letter-spacing: 1px;
  margin-top: 20px;
}

@media only screen and (max-width: 280px) {
  .footer-page2 h5 {
    font-size: 16px;
  }

  .footer-page2 .badgedl {
    width: 100px;
  }
  .page-3 h2 {
    font-size: 4rem;
  }

  .page-3 h3 {
    font-family: "Gilam Black DEMO";
    color: #77d1e2;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }

  .navbar-brand > img {
    width: 50%;
  }
  .page-3 .contents {
    min-height: 90vh;
  }

  .page-3 .code {
    width: 75%;
  }
  .mobile-show {
    display: block;
    margin-top: 20px;
  }

  .mobile-show ol {
    text-align: left;
  }

  .mobile-hide {
    display: none;
  }
  .footer-page2 .col-md-6 {
    width: 50%;
  }

  .footer-doc {
    width: 100%;
  }
}
